<div class="row">
  <ul class="flexTest list-unstyled">
    <li>
      <a ng-href="#/admin/lang" role="button">
        <h3>{{'BUTTON.MANAGE_LANG' | translate }}</h3>
        <p>Ceci est un descriptif</p>
      </a>
    </li>

    <li>
      <a ng-href="#/admin/word" role="button">
        <h3>{{'BUTTON.MANAGE_WORD' | translate }}</h3>
        <p>Ceci est un descriptif</p>
      </a>
    </li>

    <li>
      <a ng-href="#/admin/category" role="button">
        <h3>{{'BUTTON.MANAGE_CATEGORY' | translate }}</h3>
        <p>Ceci est un descriptif</p>
      </a>
    </li>

    <li>
      <a ng-href="#/admin/level" role="button">
        <h3>{{'BUTTON.MANAGE_LEVEL' | translate }}</h3>
        <p>Ceci est un descriptif</p>
      </a>
    </li>

    <li>
      <a ng-href="#/admin/setting" role="button">
        <h3>{{ 'SETTING.TITLE' | translate }}</h3>
        <p>Ceci est un descriptif</p>
      </a>
    </li>

    <li>
      <a ng-href="#/admin/user" role="button">
        <h3>Vos données</h3>
        <p>Ceci est un descriptif</p>
      </a>
    </li>

    <li>
      <a ng-href="#/admin/import" role="button">
        <h3>Importer des données</h3>
        <p>Importer via un fichier Excel des nouvelles catégories ou des nouveaux mots</p>
      </a>
    </li>
  </ul>

</div>
